@model winerack.Models.MiniProfileViewModel

@using winerack.Helpers

<div class="panel panel-default panel-profile">
  <div class="panel-heading" style="background-image: url(/Content/images/corks-md.jpg)"></div>
  <div class="panel-body text-xs-center">
    <img class="panel-profile-img" src="@ExtensionMethods.ProfileImageUrl("sq_sm")"/>
    <h5 class="panel-title">@Model.Name</h5>
    <p class="m-b-2">@Model.Location</p>
    <ul class="panel-profile-stats">
      <li class="panel-profile-stat">
        Tasted
        <h5 class="panel-profile-stat-figure">@Model.Tasted</h5>
      </li>
      <li class="panel-profile-stat">
        Bottles
        <h5 class="panel-profile-stat-figure">@Model.BottlesTotal</h5>
      </li>
    </ul>
  </div>
</div>