@model winerack.Models.TastingViewModels.Create

@{
    ViewBag.Title = "Taste a glass";
}

<div class="page-header">
    <h2>@ViewBag.Title</h2>
</div>

@using (Html.BeginForm("Create", "Tastings", FormMethod.Post, new { enctype = "multipart/form-data" })) {
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.VineyardID)
    @Html.HiddenFor(m => m.RegionID)

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <fieldset>
            <legend>Vineyard &amp; Location</legend>

            <div class="form-group">
                @Html.LabelFor(m => m.Vineyard, "Name", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(m => m.Vineyard, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.Vineyard, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Region, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(m => m.Region, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.Region, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Country, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.Country, null, "", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Country, "", new { @class = "text-danger" })
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>Wine</legend>

            <div class="form-group">
                @Html.LabelFor(m => m.WineName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(m => m.WineName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.WineName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.VarietalID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.VarietalID, null, "", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.VarietalID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Vintage, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(m => m.Vintage, new { htmlAttributes = new { @class = "form-control", type = "number" } })
                    @Html.ValidationMessageFor(m => m.Vintage, "", new { @class = "text-danger" })
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>Tasting</legend>

            <div class="form-group">
                @Html.LabelFor(m => m.TastingDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(m => m.TastingDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.TastingDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.TastingNotes, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(m => m.TastingNotes, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.TastingNotes, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Friends, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.Friends, null, "", htmlAttributes: new { @class = "form-control", multiple="multiple" })
                    @Html.ValidationMessageFor(m => m.Friends, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Photo</label>
                <div class="col-md-10">
                    <a id="photoSelect" href="#">
                        <img id="photoPreview" src="//placehold.it/300x200&text=Photo" width="300" />
                    </a>
                    <input class="hidden" id="Photo" name="Photo" type="file" accept="image/*" />
                </div>
            </div>

            @if (Model.HasFacebook || Model.HasTumblr || Model.HasTwitter) {
                <div class="form-group">
                    <label class="control-label col-md-2">Share</label>
                    <div class="col-md-10">
                        @if (Model.HasFacebook) {
                            <div class="checkbox">
                                <label>
                                    @Html.CheckBoxFor(m => m.PostFacebook)
                                    Facebook
                                </label>
                            </div>
                        }

                        @if (Model.HasTumblr) {
                            <div class="checkbox">
                                <label>
                                    @Html.CheckBoxFor(m => m.PostTumblr)
                                    Tumblr
                                </label>
                            </div>
                        }

                        @if (Model.HasTwitter) {
                            <div class="checkbox">
                                <label>
                                    @Html.CheckBoxFor(m => m.PostTwitter)
                                    Twitter
                                </label>
                            </div>
                        }
                    </div>
                </div>
            }
            
        </fieldset>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-success">Taste</button>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/tastingscreate")
}
