@model winerack.Models.TastingViewModels.Details
@using winerack.Helpers

@{
    ViewBag.Title = Model.Tasting.User.Name + " tasted a " + Model.Tasting.Wine.Description;
}

@section Head {
    @{ Html.RenderPartial("Meta/Wine", Model.Tasting.Wine); }
    @if ((Model.Tasting.ImageID.HasValue)) {
        <meta name="twitter:image:src" property="og:image" content="https://winerack.blob.core.windows.net/tastings/@{@Model.Tasting.ImageID.Value}_lg.jpg">
    }
}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        @Html.Partial("_UserHeader", Model.Tasting.User)

        <div class="panel panel-default">
            <div class="panel-body">
                <h2>
                    <small>Tasted a</small>
                    <a href="/wines/@Model.Tasting.WineID">
                        @Html.Partial("Wines/_Description", Model.Tasting.Wine)
                    </a>
                </h2>

                <ul class="list-inline">
                    <li>
                        <i class="wine-making-wine"></i>
                        <a href="/vineyards/@Model.Tasting.Wine.VineyardID">@Model.Tasting.Wine.Vineyard.Name</a>
                    </li>
                    <li>
                        <i class="fa fa-globe"></i>
                        <a href="/regions/@Model.Tasting.Wine.RegionID">@Model.Tasting.Wine.Region.Label</a>
                    </li>
                </ul>

                @if ((Model.Tasting.ImageID.HasValue)) {
                    <img class="img-responsive" src="https://winerack.blob.core.windows.net/tastings/@{@Model.Tasting.ImageID.Value}_md.jpg" />
                }
                
                @Html.Partial("_TaggedUsers", Model.TaggedUsers)

                @if (!string.IsNullOrWhiteSpace(Model.Tasting.Notes)) {
                    <blockquote>@Model.Tasting.Notes</blockquote>
                }

                <hr />
                <div class="text-muted">@Model.Tasting.TastedOn.ToLongDateString()</div>
            </div>
        </div>
    </div>
</div>
