@model winerack.Models.Tasting
@using winerack.Helpers

@{
    ViewBag.Title = Model.StoredBottle.Purchase.Bottle.Owner.Name + " opened a " + Model.StoredBottle.Purchase.Bottle.Wine.Description;
}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        @Html.Partial("_UserHeader", Model.StoredBottle.Purchase.Bottle.Owner)

        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>
                    <small>Opened a</small><br />
                    <a href="/wines/@Model.StoredBottle.Purchase.Bottle.WineID">
                        @Html.Partial("Wines/_Description", Model.StoredBottle.Purchase.Bottle.Wine)
                    </a>
                </h2>
                <p>
                    <i class="wine-making-wine"></i>
                    <a href="/vineyards/@Model.StoredBottle.Purchase.Bottle.Wine.VineyardID">@Model.StoredBottle.Purchase.Bottle.Wine.Vineyard.Name</a>
                </p>
                <p>
                    <i class="fa fa-globe"></i>
                    <a href="/regions/@Model.StoredBottle.Purchase.Bottle.Wine.RegionID">@Model.StoredBottle.Purchase.Bottle.Wine.Region.Label</a>
                </p>
            </div>
            <div class="panel-body">
                @if ((Model.ImageID.HasValue)) {
                    <img class="img-responsive" src="https://winerack.blob.core.windows.net/tastings/@{@Model.ImageID.Value}_m.jpg" />
                }
                
                @Model.Notes

                @if (Model.TastedOn.HasValue) {
                    <hr />
                    <div class="text-muted">@Model.TastedOn.Value.ToLongDateString()</div>
                }
            </div>
        </div>
    </div>
</div>
