@model winerack.Models.Bottle

@{
    ViewBag.Title = "Details";
}

<input id="Bottle_ID" type="hidden" value="@Model.ID"/>

<div class="page-header">
    <h1>@Html.Partial("Wines/_Description", Model.Wine)</h1>
</div>

<ul class="nav nav-tabs">
    <li class="active"><a href="#details" data-toggle="tab">Details</a></li>
    <li><a href="#purchases" data-toggle="tab">Purchases</a></li>
    @if (Model.Purchases.Count > 0) {
        <li><a href="#bottles" data-toggle="tab">Bottles</a></li>
    }
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="details">
        <dl class="dl-horizontal">
            <dt>@Html.DisplayNameFor(m => m.Wine.Vineyard)</dt>
            <dd>@Html.DisplayFor(m => m.Wine.Vineyard.Name)</dd>

            <dt>@Html.DisplayNameFor(m => m.Wine.Varietal)</dt>
            <dd>@Html.DisplayFor(m => m.Wine.Varietal.Name)</dd>

            <dt>@Html.DisplayNameFor(m => m.Wine.Vintage)</dt>
            <dd>@Html.DisplayFor(m => m.Wine.Vintage)</dd>

            <dt>@Html.DisplayNameFor(m => m.NumberOfBottles)</dt>
            <dd><span class="label label-info">@Model.NumberOfBottles</span></dd>

            <dt>@Html.DisplayNameFor(m => m.NumberDrunk)</dt>
            <dd><span class="label label-danger">@Model.NumberDrunk</span></dd>

            <dt>@Html.DisplayNameFor(m => m.NumberRemaining)</dt>
            <dd><span class="label label-success">@Model.NumberRemaining</span></dd>
        </dl>

        <h4>Cellaring</h4>
        <hr />
        <br />
        <dl class="dl-horizontal">
            <dt>Cellar for</dt>
            <dd>
                <input id="cellarMin" name="cellarMin" type="hidden" value="@Model.CellarMin" />
                <input id="cellarMax" name="cellarMax" type="hidden" value="@Model.CellarMax" />

                <div class="row">
                    <div class="col-sm-4">
                        <div id="cellarSlider"></div>
                    </div>
                    <div class="col-sm-2">
                        years
                    </div>
                </div>
            </dd>

            <dt></dt>
            <dd>
                <br />
                <button class="btn btn-success" id="cellarUpdate">Save</button>
            </dd>
        </dl>

        <a class="btn btn-link" href="/Bottles">Back to collection</a>
    </div>

    <div class="tab-pane" id="purchases">
        @if (Model.Purchases.Count > 0) {  
            <table class="table">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.Purchases.First().PurchasedOn)</th>
                        <th>@Html.DisplayNameFor(m => m.Purchases.First().Quantity)</th>
                        <th>@Html.DisplayNameFor(m => m.Purchases.First().PurchasePrice)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var purchase in Model.Purchases) {
                        <tr>
                            <td>@Html.DisplayFor(p => purchase.PurchasedOn)</td>
                            <td>@purchase.StoredBottles.Count</td>
                            <td>@Html.DisplayFor(p => purchase.PurchasePrice)</td>
                            <td>
                                @Html.ActionLink("Details", "Details", new { controller = "Purchases", id = purchase.ID }) | 
                                @Html.ActionLink("Edit", "Edit", new { controller = "Purchases", id = purchase.ID})
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            
            <p>
                <a class="btn btn-primary" href="/Purchases/Create/?BottleId=@Model.ID"><i class="fa fa-plus"></i> Purchase More</a>
            </p>
        } else {
            <div class="jumbotron">
                <p>You haven't purchased this wine yet.</p>
                <a class="btn btn-primary" href="/Purchases/Create/?BottleId=@Model.ID"><i class="fa fa-plus"></i> Purchase now</a>
            </div>
        }
    </div>

    @if (Model.Purchases.Count > 0) {
        <div class="tab-pane" id="bottles">
            @using (Html.BeginForm("Update", "StoredBottles")) {
                @Html.AntiForgeryToken()
                <input type="hidden" name="BottleID" value="@Model.ID" />
                
                <table class="table">
                    <thead>
                        <tr>
                            <th>Bottle</th>
                            <th>Stored</th>
                            <th>Purchased</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ var i = 1; }
                        @foreach (var stored in Model.Purchases.SelectMany(p => p.StoredBottles)) {
                            <tr>
                                <td>#@i</td>
                                <td>
                                    @if (stored.Tasting == null) {
                                        <input class="form-control"
                                               id="bottle_@stored.ID"
                                               name="bottle_@stored.ID"
                                               type="text"
                                               value="@stored.Location"
                                               placeholder="Location" />
                                    } else {
                                        <span>Drunk @Html.DisplayFor(s => stored.Tasting.TastedOn)</span>
                                    }
                                </td>
                                <td>@Html.DisplayFor(s => stored.Purchase.PurchasedOn)</td>
                                <td>
                                    @if (stored.Tasting == null) {
                                        <div>
                                            @Html.ActionLink("drink", "Create", new { controller = "Tastings", storedBottleId = stored.ID }) |
                                            @Html.ActionLink("delete", "Delete", new { controller = "StoredBottles", id = stored.ID })
                                        </div>
                                    } else {
                                        <div>
                                            @Html.ActionLink("tasting notes", "Details", new { controller = "Tastings", id = stored.ID })
                                        </div>
                                    }
                                </td>
                            </tr>
                            i++;
                        }
                    </tbody>
                </table>
                
                <button class="btn btn-success" type="submit">Save storage details</button>

            }
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/jquery-ui-1.10.4.min.js")
    @Scripts.Render("~/Scripts/vendor/jQRangeSlider/jQEditRangeSlider-min.js")
    @Scripts.Render("~/Scripts/bottles/details.js")
}