@model winerack.Models.Bottle

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Wine.Description</h2>

<ul class="nav nav-tabs">
    <li class="active"><a href="#details" data-toggle="tab">Details</a></li>
    <li><a href="#purchases" data-toggle="tab">Purchases</a></li>
    @if (Model.Purchases.Count > 0) {
        <li><a href="#bottles" data-toggle="tab">Bottles</a></li>
    }
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="details">
        <dl class="dl-horizontal">
            <dt>@Html.DisplayNameFor(m => m.Wine.Vineyard)</dt>
            <dd>@Html.DisplayFor(m => m.Wine.Vineyard.Name)</dd>

            <dt>@Html.DisplayNameFor(m => m.Wine.Varietal)</dt>
            <dd>@Html.DisplayFor(m => m.Wine.Varietal)</dd>

            <dt>@Html.DisplayNameFor(m => m.Wine.Vintage)</dt>
            <dd>@Html.DisplayFor(m => m.Wine.Vintage)</dd>

            <dt>@Html.DisplayNameFor(m => m.Purchases)</dt>
            <dd>@Model.NumberOfBottles</dd>
        </dl>

        <a class="btn btn-link" href="/Bottles">Back to collection</a>
    </div>

    <div class="tab-pane" id="purchases">
        @if (Model.Purchases.Count > 0) {  
            <table class="table">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.Purchases.First().PurchasedOn)</th>
                        <th>@Html.DisplayNameFor(m => m.Purchases.First().Quantity)</th>
                        <th>@Html.DisplayNameFor(m => m.Purchases.First().PurchasePrice)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var purchase in Model.Purchases) {
                        <tr>
                            <td>@Html.DisplayFor(p => purchase.PurchasedOn)</td>
                            <td>@purchase.StoredBottles.Count</td>
                            <td>@Html.DisplayFor(p => purchase.PurchasePrice)</td>
                            <td>
                                @Html.ActionLink("Details", "Details", new { controller = "Purchases", id = purchase.ID }) | 
                                @Html.ActionLink("Edit", "Edit", new { controller = "Purchases", id = purchase.ID})
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            
            <p>
                <a class="btn btn-primary" href="/Purchases/Create/?BottleId=@Model.ID"><i class="fa fa-plus"></i> Purchase More</a>
            </p>
        } else {
            <div class="jumbotron">
                <p>You haven't purchased this wine yet.</p>
                <a class="btn btn-primary" href="/Purchases/Create/?BottleId=@Model.ID"><i class="fa fa-plus"></i> Purchase now</a>
            </div>
        }
    </div>

    @if (Model.Purchases.Count > 0) {
        <div class="tab-pane" id="bottles">
            @using (Html.BeginForm("Update", "StoredBottles")) {
                @Html.AntiForgeryToken()
                <input type="hidden" name="BottleID" value="@Model.ID" />
                
                <table class="table">
                    <thead>
                        <tr>
                            <th>Bottle</th>
                            <th>Stored</th>
                            <th>Purchased</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ var i = 1; }
                        @foreach (var stored in Model.Purchases.SelectMany(p => p.StoredBottles)) {
                            <tr>
                                <td>#@i</td>
                                <td>
                                    <input class="form-control"
                                           id="bottle_@stored.ID"
                                           name="bottle_@stored.ID"
                                           type="text"
                                           value="@stored.Location"
                                           placeholder="Location" />
                                </td>
                                <td>@Html.DisplayFor(s => stored.Purchase.PurchasedOn)</td>
                                <td>
                                    @Html.ActionLink("delete", "Delete", new { controller = "StoredBottles", id = stored.ID})
                                </td>
                            </tr>
                            i++;
                        }
                    </tbody>
                </table>
                
                <button class="btn btn-success" type="submit">Save storage details</button>

            }
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/bottles/details.js")
}