@model winerack.Models.User

@{
    ViewBag.Title = Model.Name;
}

<div class="page-header">
    <h1>@Model.Name</h1>
</div>

<div class="widget">
    <h3>Account</h3>
    <dl class="dl-horizontal">
        <dt>Username</dt>
        <dd>@Model.UserName</dd>

        <dt>@Html.DisplayNameFor(model => model.Email)</dt>
        <dd>
            <a href="mailto:@Model.Email">@Model.Email</a>
            @if (Model.EmailConfirmed) {
                <i class="fa fa-check" title="Confirmed"></i>
            }
        </dd>

        <dt>@Html.DisplayNameFor(model => model.CreatedOn)</dt>
        <dd>@Html.DisplayFor(model => model.CreatedOn)</dd>

        <dt>Administrator</dt>
        <dd>
            @if ((bool)ViewBag.IsAdministrator) {
                <a href="/Users/Administrator/@Model.Id"><i class="fa fa-check"></i></a>
            } else {
                <a href="/Users/Administrator/@Model.Id"><i class="fa fa-times"></i></a>
            }
        </dd>
    </dl>



    <h3>Personal</h3>
    <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd>@Model.Name</dd>

        <dt>@Html.DisplayNameFor(model => model.PhoneNumber)</dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
            @if (Model.PhoneNumberConfirmed) {
                <i class="fa fa-check" title="Confirmed"></i>
            }
        </dd>

        <dt>@Html.DisplayNameFor(model => model.Location)</dt>
        <dd>@Html.DisplayFor(model => model.Location)</dd>

        <dt>@Html.DisplayNameFor(model => model.Country)</dt>
        <dd>@Html.DisplayFor(model => model.Country)</dd>
    </dl>

    <h3>Security</h3>
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.TwoFactorEnabled)</dt>
        <dd>@Html.DisplayFor(model => model.TwoFactorEnabled)</dd>

        <dt>@Html.DisplayNameFor(model => model.AccessFailedCount)</dt>
        <dd>@Html.DisplayFor(model => model.AccessFailedCount)</dd>

        <dt>@Html.DisplayNameFor(model => model.LockoutEnabled)</dt>
        <dd>@Html.DisplayFor(model => model.LockoutEnabled)</dd>

        <dt>@Html.DisplayNameFor(model => model.LockoutEndDateUtc)</dt>
        <dd>@Html.DisplayFor(model => model.LockoutEndDateUtc)</dd>
    </dl>
</div>







@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-link" })
