@model IEnumerable<winerack.Models.User>

@{
    ViewBag.Title = "Users";
}

<div class="page-header">
    <div class="pull-right">
        @Html.ActionLink("Invite", "Invite", null, new { @class = "btn btn-primary" })
    </div>

    <h1>Users</h1>
</div>

<div class="widget">

    <table class="table table-striped">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(m => m.UserName)</th>
                <th>@Html.DisplayNameFor(m => m.Email)</th>
                <th>Name</th>
                <th>Verified</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var user in Model) {
                <tr>
                    <td><a href="/Users/Details/@user.Id">@user.UserName</a></td>
                    <td><a href="mailto:@user.Email">@Html.DisplayFor(m => user.Email)</a></td>
                    <td>@user.Name</td>
                    <td>
                        @if (user.EmailConfirmed) {
                            <i class="fa fa-check"></i>
                        } else {
                            <i class="fa fa-times"></i>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>