<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - winerack.io</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                @Html.ActionLink("winerack.io", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="http://www.winerack.io">About</a></li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <ul class="list-inline">
                <li>
                    <a href="http://www.winerack.io">winerack.io</a>
                </li>
                <li>
                    <a href="http://www.twitter.com/winerack_io" target="_blank"><i class="fa fa-twitter"><span class="sr-only">Twitter</span></i></a>
                </li>
                <li>
                    <a href="http://www.facebook.com/winerack.io" target="_blank"><i class="fa fa-facebook"><span class="sr-only">Facebook</span></i></a>
                </li>
            </ul>
            <p>&copy; @DateTime.Now.Year Matt Dwen. All rights reserved.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
