@using Microsoft.AspNet.Identity
@using winerack.Helpers
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="navbar-nav">
        <li class="dropdown">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                @User.Identity.GetUserName()
                <img class="img-circle" src="@ExtensionMethods.ProfileImageUrl()" width="32" />
            </a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Account Settings", "Settings", "Account")</li>
                <li>@Html.ActionLink("Friends", "", "Friends")</li>
                <li class="divider"></li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
            </ul>
        </li>        
    </ul>
    }
}
else
{
    <ul class="navbar-nav">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Sign in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
