@model IEnumerable<winerack.Models.Varietal>

@{
    ViewBag.Title = "Varietals";
}

<div classs="page-header">
    <div class="pull-right">
        @Html.ActionLink("New", "Create", null, new { @class = "btn btn-primary" })
    </div>

    <h1>Varietals</h1>
</div>

<div class="widget">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Style)
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>
                        <a href="/varietal/@item.ID">@Html.DisplayFor(modelItem => item.Name)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Style)
                    </td>
                    <td class="text-right">
                        <a href="/Varietals/Edit/@item.ID" title="Edit"><i class="fa fa-edit"></i></a>
                        <a href="/Varietals/Delete/@item.ID" title="Delete"><i class="fa fa-remove"></i></a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>
