@model winerack.Models.Wine

<div class="form-group">
    @Html.LabelFor(model => model.Vineyard, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownListFor(m => m.VineyardID, new SelectList(winerack.Models.Vineyard.GetVineyards(), "ID", "Name"), "", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.VineyardID, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Region, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownListFor(m => m.RegionID, new SelectList(winerack.Models.Region.GetRegions(), "ID", "Label"), "", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.RegionID, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Varietal, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Varietal, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Varietal, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Vintage, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Vintage, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Vintage, "", new { @class = "text-danger" })
    </div>
</div>

@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="form-group">
    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>
</div>