@model winerack.Models.User
@using winerack.Helpers

@{
    ViewBag.Title = Model.Name;
}

<div class="media">
    <div class="pull-left">
        <img class="media-object img-circle" src="@ExtensionMethods.ProfileImageUrl("sq", Model.Id)" width="100" />
    </div>
    <div class="media-body">
        <h1 class="media-heading">
            @if (string.IsNullOrWhiteSpace(Model.Name)) {
                @Model.UserName
            } else {
                @Model.Name
            }
        </h1>
        <ul class="list-inline">
            @if (!string.IsNullOrWhiteSpace(Model.Name)) {
                <li>
                    <i class="fa fa-user"></i> @Model.UserName
                </li>
            }
            <li>
                <i class="fa fa-globe"></i> @Model.LocationDescription
            </li>
        </ul>
    </div>
</div>

@{Html.RenderAction("StatBar", "Users", new { userId = Model.Id });}

<div class="row">
    <div class="col-sm-8">
        <h2>Recent Actvity</h2>
        <hr />
        @{Html.RenderAction("ByUser", "Activity", new { userId = Model.Id });}
    </div>
</div>
