@model winerack.Models.UserDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Id)</dt>
        <dd>@Html.DisplayFor(model => model.Id)</dd>

        <dt>Administrator</dt>
        <dd>
            @if (Model.Administrator) {
                <i class="fa fa-check"></i>
            } else {
                <i class="fa fa-times"></i>
            }
            @Html.ActionLink("change", "Administrator", new { id = Model.Id })
        </dd>

        <dt>@Html.DisplayNameFor(model => model.Email)</dt>
        <dd>@Html.DisplayFor(model => model.Email)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
