@model winerack.Models.UserDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(m => m.Id)</dt>
        <dd>@Html.DisplayFor(m => m.Id)</dd>

        <dt>@Html.DisplayNameFor(m => m.CreatedOn)</dt>
        <dd>@Html.DisplayFor(m => m.CreatedOn)</dd>

        <dt>@Html.DisplayNameFor(m => m.Name)</dt>
        <dd>@Html.DisplayFor(m => m.Name)</dd>

        <dt>@Html.DisplayNameFor(m => m.Email)</dt>
        <dd>@Html.DisplayFor(m => m.Email)</dd>

        <dt>Administrator</dt>
        <dd>
            @if (Model.Administrator) {
                <i class="fa fa-check"></i>
            } else {
                <i class="fa fa-times"></i>
            }
            @Html.ActionLink("change", "Administrator", new { id = Model.Id })
        </dd>

        <dt>Verified</dt>
        <dd>
            @if (Model.Verified) {
                <i class="fa fa-check"></i>
            } else {
                <i class="fa fa-times"></i> @Html.ActionLink("resend", "ReInvite", new { id = Model.Id })
            }
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
