@model winerack.Models.MiniProfileViewModel
@using winerack.Helpers

<div id="user-profile">
    <h4>
        <img class="img-circle" src="@ExtensionMethods.ProfileImageUrl("sq_sm")" width="75" />
        @Model.Username
    </h4>

    <ul class="list-unstyled">
        <li>
            <span class="badge">@Model.BottlesTotal</span> Total
        </li>
        <li>
            <span class="badge">@Model.BottlesUnique</span> Unique
        </li>
        <li>
            <span class="badge">@Model.BottlesDrunk</span> Opened
        </li>
    </ul>

    <a class="btn btn-default btn-block" href="/Tastings/Start">Open a bottle</a>
    <a class="btn btn-default btn-block" href="/Bottles/Create">Collect a bottle</a>
</div>