@model winerack.Models.MiniProfileViewModel
@using winerack.Helpers

<div id="user-profile">
    <div class="media">
        <div class="pull-left">
            <img class="media-object img-circle" src="@ExtensionMethods.ProfileImageUrl("sq_sm")" width="75" />
        </div>
        <div class="media-body">
            <h3 class="media-heading">@Model.Name</h3>
            <div class="text-muted"><i class="fa fa-user"></i> @Model.Username</div>
            <div class="text-muted"><i class="fa fa-globe"></i> @Model.Location</div>
        </div>
    </div>

    <ul class="list-unstyled">
        <li>
            <span class="badge">@Model.BottlesTotal</span> Total
        </li>
        <li>
            <span class="badge">@Model.BottlesUnique</span> Unique
        </li>
        <li>
            <span class="badge">@Model.BottlesDrunk</span> Opened
        </li>
    </ul>

    <a class="btn btn-default btn-block" href="/Openings/Start">Open a bottle</a>
    <a class="btn btn-default btn-block" href="/Tastings/Create">Taste a glass</a>
    <a class="btn btn-default btn-block" href="/Bottles/Create">Collect a bottle</a>
</div>