@model winerack.Models.Purchase

@{
    ViewBag.Title = "Delete purchase";
}

@Html.Partial("Wines/_Header", Model.Bottle.Wine)

<div class="page-header">
    <h2>Delete purchase</h2>
</div>

<div class="widget">

    <p>Are you sure you want to delete this purchase?</p>

    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(m => m.PurchasedOn)</dt>
        <dd>@Html.DisplayFor(m => m.PurchasedOn)</dd>

        <dt>@Html.DisplayNameFor(m => m.Quantity)</dt>
        <dd>@Model.StoredBottles.Count</dd>

        <dt>@Html.DisplayNameFor(m => m.PurchasePrice)</dt>
        <dd>@Html.DisplayFor(m => m.PurchasePrice)</dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <button type="submit" class="btn btn-danger">Delete purchase</button>
        @Html.ActionLink("Cancel", "Details", new { id = @Model.ID }, new { @class = "btn btn-default" })
        @Html.ActionLink("Back to List", "Index", new { @class = "btn btn-link" })
    }

</div>