@model winerack.Models.Purchase
@using winerack.Helpers
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = Model.Bottle.Owner.Name + " purchased a " + Model.Bottle.Wine.Description;
}

@section Head {
    @{ Html.RenderPartial("Meta/Wine", Model.Bottle.Wine); }
    @if ((Model.ImageID.HasValue)) {
        <meta name="twitter:image:src" property="og:image" content="https://winerack.blob.core.windows.net/purchases/@{@Model.ImageID.Value}_lg.jpg">
    }
}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        @Html.Partial("_UserHeader", Model.Bottle.Owner)

        <div class="panel panel-default">
            <div class="panel-heading">
                @if (Model.Bottle.OwnerID == User.Identity.GetUserId()) {
                    <div class="pull-right">
                        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-primary btn-sm" })
                        @Html.ActionLink("Delete", "Delete", new { id = Model.ID }, new { @class = "btn btn-danger btn-sm" })
                    </div>
                }
                
                <h2>
                    <small>Purchased @ExtensionMethods.BottleQuantity(Model.StoredBottles.Count) of</small><br />
                    <a href="/wines/@Model.Bottle.WineID">
                        @Html.Partial("Wines/_Description", Model.Bottle.Wine)
                    </a>
                </h2>

                <p>
                    <i class="wine-making-wine"></i>
                    <a href="/vineyards/@Model.Bottle.Wine.VineyardID">@Model.Bottle.Wine.Vineyard.Name</a>
                </p>

                <p>
                    <i class="fa fa-globe"></i>
                    <a href="/regions/@Model.Bottle.Wine.RegionID">@Model.Bottle.Wine.Region.Label</a>
                </p>
            </div>
            <div class="panel-body">
                @if ((Model.ImageID.HasValue)) {
                    <img class="img-responsive" src="https://winerack.blob.core.windows.net/purchases/@{@Model.ImageID.Value}_md.jpg" />
                }

                @Model.Notes

                @if (Model.PurchasedOn.HasValue) {
                    <hr />
                    <div class="text-muted">@Model.PurchasedOn.Value.ToLongDateString()</div>
                }
            </div>
        </div>
    </div>
</div>
