@using winerack.Models;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Change Password";
}

<p class="text-success">@ViewBag.StatusMessage</p>

<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>

<div class="widget">
    @if (ViewBag.HasLocalPassword) {
        @Html.Partial("_ChangePasswordPartial")
    } else {
        @Html.Partial("_SetPasswordPartial")
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
