@model winerack.Models.RegisterViewModel
@{
    ViewBag.Title = "Sign up for Winerack!";
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form", role = "form" })) {
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>Winerack.io</h2>
                </div>

                <div class="panel-body">

                    @Html.ValidationSummary("", new { @class = "text-danger" })

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Username, new { @class = "sr-only" })
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "Username", required = "required" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Email, new { @class = "sr-only" })
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email", type = "email", required = "required" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Password, new { @class = "sr-only" })
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password", required = "required" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "sr-only" })
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Repeat password", required = "required" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.FirstName, new { @class = "sr-only" })
                                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "First name" })
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.LastName, new { @class = "sr-only" })
                                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Last name" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Location, new { @class = "sr-only" })
                                @Html.TextBoxFor(m => m.Location, new { @class = "form-control", placeholder = "Location" })
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Country, new { @class = "sr-only" })
                                @Html.DropDownListFor(m => m.Country, null, "", htmlAttributes: new { @class = "form-control", required = "required" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel-footer text-center">
                    <input type="submit" class="btn btn-primary btn-lg" value="Create Account" />
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}