@model winerack.Models.Wine

@{
    ViewBag.Title = "Edit Wine";
}

<div class="page-header">
    <h1>Edit Wine</h1>
</div>


<div class="widget">
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.HiddenFor(model => model.ID)

            @Html.Partial("Wines/Editor")

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-primary">Save Wine</button>
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-link" })
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
