@model IEnumerable<winerack.Models.Wine>

@{
    ViewBag.Title = "Wines";
}

<div class="page-header">
    <div class="pull-right">
        @Html.ActionLink("New", "Create", null, new { @class = "btn btn-primary" })
    </div>

    <h1>Wines</h1>
</div>

<div class="widget">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(m => m.Vineyard)</th>
                <th>@Html.DisplayNameFor(m => m.Varietals)</th>
                <th>@Html.DisplayNameFor(m => m.Vintage)</th>
                <th>@Html.DisplayNameFor(m => m.Name)</th>
                <th>@Html.DisplayNameFor(m => m.Region)</th>
                <th></th>
            </tr>
        </thead>

        <tbody>

            @foreach (var item in Model) {
                <tr>
                    <td><a href="/wines/@item.ID">@Html.DisplayFor(i => item.Vineyard.Name)</a></td>
                    <td>@Html.DisplayFor(i => item.Varietals)</td>
                    <td>@Html.DisplayFor(i => item.Vintage)</td>
                    <td>@Html.DisplayFor(i => item.Name)</td>
                    <td>@Html.DisplayFor(i => item.Region.Name), @Html.DisplayFor(i => item.Region.Country)</td>
                    <td class="text-right">
                        <a href="/Wines/Edit/@item.ID" title="Edit"><i class="fa fa-edit"></i></a>
                        <a href="/Wines/Delete/@item.ID" title="Delete"><i class="fa fa-remove"></i></a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>
