@model winerack.Models.PurchaseViewModels.Create

@{
    ViewBag.Title = "Purchase Wine";
}

@Html.Partial("Wines/_Header", Model.Bottle.Wine)

<h2>Purchase a bottle</h2>

<div class="widget">
    @using (Html.BeginForm("Create", "Purchases", FormMethod.Post, new { enctype = "multipart/form-data" })) {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.BottleID)

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.IsGift, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        <label>
                            @Html.EditorFor(m => m.IsGift)
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PurchasedOn, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PurchasedOn, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PurchasedOn, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PurchasePrice, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PurchasePrice, new { htmlAttributes = new { @class = "form-control", type = "number", step = "0.01" } })
                    @Html.ValidationMessageFor(model => model.PurchasePrice, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Notes, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Notes, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Photo</label>
                <div class="col-md-10">
                    <a id="photoSelect" href="#">
                        <img id="photoPreview" src="//placehold.it/300x200&text=Photo" width="300" />
                    </a>
                    <input class="hidden" id="Photo" name="Photo" type="file" accept="image/*" capture="camera" />
                </div>
            </div>

            @if (Model.HasFacebook || Model.HasTwitter) {
                <div class="form-group">
                    <label class="control-label col-md-2">Share</label>
                    <div class="col-md-10">
                        @if (Model.HasFacebook) {
                            <div class="checkbox">
                                <label>
                                    @Html.CheckBoxFor(m => m.PostFacebook)
                                    Facebook
                                </label>
                            </div>
                        }

                        @if (Model.HasTwitter) {
                            <div class="checkbox">
                                <label>
                                    @Html.CheckBoxFor(m => m.PostTwitter)
                                    Twitter
                                </label>
                            </div>
                        }
                    </div>
                </div>
            }

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-success">Add purchase</button>
                    @Html.ActionLink("Back to purchases", "Index", null, new { @class = "btn btn-link" })
                    @Html.ActionLink("Back to bottle", "Details", new { controller = "Bottles", id = Model.BottleID }, new { @class = "btn btn-link" })
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/purchases/create.js")
}
