@model winerack.Models.Purchase
@using winerack.Helpers
@using Microsoft.AspNet.Identity;

@{
  Layout = "~/Views/Shared/Layout/_Authorised.cshtml";
  var verb = (Model.IsGift) ? "Was gifted" : "Purchased";
  ViewBag.Title = Model.Bottle.Owner.Name + " " + verb.ToLower() + " a " + Model.Bottle.Wine.Description;
}

@section Head {
  @{ Html.RenderPartial("Meta/Wine", Model.Bottle.Wine); }
  @if ((Model.ImageID.HasValue)) {
    <meta name="twitter:card" content="photo">
    <meta name="twitter:image:src" property="og:image" content="https://winerack.blob.core.windows.net/purchases/@{@Model.ImageID.Value}_lg.jpg">
  } else {
     <meta name="twitter:card" content="summary" />
  }

  <meta name="twitter:description" content="View on winerack.io" />
}

<div class="row">
  <div class="col-md-4">
    @{ Html.RenderPartial("Wines/Panel", Model.Bottle.Wine); }
  </div>
</div>



<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="purchase-details">
            @Html.Partial("_UserHeader", Model.Bottle.Owner)

            <div class="panel panel-default">
                <div class="panel-heading">
                    @if (Model.Bottle.OwnerID == User.Identity.GetUserId()) {
                        <div class="pull-right">
                            <a href="/Purchases/Edit/@Model.ID" title="Edit"><i class="fa fa-fw fa-edit"></i></a>
                            <a href="/Purchases/Delete/@Model.ID" title="Delete"><i class="fa fa-fw fa-remove"></i></a>
                        </div>
                    }

                    @verb @ExtensionMethods.BottleQuantity(Model.StoredBottles.Count) of

                    @Html.Partial("Wines/_Header", Model.Bottle.Wine)
                </div>
                <div class="panel-body">
                    @if ((Model.ImageID.HasValue)) {
                        <img class="img-responsive" src="https://winerack.blob.core.windows.net/purchases/@{@Model.ImageID.Value}_lg.jpg" />
                    }

                    @Model.Notes

                    @if (Model.PurchasedOn.HasValue) {
                        <hr />
                        <div class="text-right text-muted">@Model.PurchasedOn.Value.ToLongDateString()</div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
