@model winerack.Models.OpeningViewModels.Create

@{
    ViewBag.Title = "Open a Bottle";
}

<h2>Open a Bottle</h2>

@using (Html.BeginForm("Create", "Openings", FormMethod.Post, new { enctype = "multipart/form-data" })) {
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(m => m.StoredBottleID)

        <div class="form-group">
            @Html.LabelFor(m => m.StoredBottle.Purchase.Bottle.Wine, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <span class="form-control">
                    @Model.StoredBottle.Purchase.Bottle.Wine.Vineyard.Name
                    @{ Html.RenderPartial("Wines/_Description", Model.StoredBottle.Purchase.Bottle.Wine); }
                </span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="@Html.IdFor(m => m.StoredBottle.Location)">Stored</label>
            <div class="col-md-10">
                <span class="form-control">@Html.DisplayFor(m => m.StoredBottle.Location)</span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.OpenedOn, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.OpenedOn, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.OpenedOn, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Notes, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.Notes, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Notes, "", new { @class = "text-danger" })
            </div>
        </div>

        @if ((ViewBag.Friends as IList<SelectListItem>).Count > 0) {
            <div class="form-group">
                @Html.LabelFor(m => m.Friends, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.Friends, null, "", htmlAttributes: new { @class = "form-control", multiple = "multiple" })
                    @Html.ValidationMessageFor(m => m.Friends, "", new { @class = "text-danger" })
                </div>
            </div>
        }

        <div class="form-group">
            <label class="control-label col-md-2">Photo</label>
            <div class="col-md-10">
                <a id="photoSelect" href="#">
                    <img id="photoPreview" src="//placehold.it/300x200&text=Photo" width="300" />
                </a>
                <input class="hidden" id="Photo" name="Photo" type="file" accept="image/*" />
            </div>
        </div>

        @if (Model.HasFacebook || Model.HasTumblr || Model.HasTwitter) {
            <div class="form-group">
                <label class="control-label col-md-2">Share</label>
                <div class="col-md-10">
                    @if (Model.HasFacebook) {
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(m => m.PostFacebook)
                                Facebook
                            </label>
                        </div>
                    }

                    @if (Model.HasTumblr) {
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(m => m.PostTumblr)
                                Tumblr
                            </label>
                        </div>
                    }

                    @if (Model.HasTwitter) {
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(m => m.PostTwitter)
                                Twitter
                            </label>
                        </div>
                    }
                </div>
            </div>
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Open bottle" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/openings/create.js")
}