@model IEnumerable<my.winerack.io.Models.RackIndexBottleViewModel>

@Html.ActionLink("Add wine", "AddWine", "Rack", new { @class = "btn btn-primary" })

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Vineyard)</th>
            <th>@Html.DisplayNameFor(model => model.Wine.Varietal)</th>
            <th>@Html.DisplayNameFor(model => model.Wine.Vintage)</th>
            <th>Bottles</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bottle in Model) {
            <tr>
                <td>@bottle.Vineyard.Name</td>
                <td>@bottle.Wine.Varietal</td>
                <td>@bottle.Wine.Vintage</td>
                <td>
                    <div class="btn-group btn-group-sm">
                        <div class="btn btn-info" title="Purchased">@bottle.Purchased</div>
                        <div class="btn btn-danger" title="Drunk">@bottle.Drunk</div>
                        <div class="btn btn-success" title="Remaining">@bottle.Remaining</div>
                    </div>
                </td>
                <td>
                    <div class="btn-group btn-group-sm">
                        <a class="btn btn-default" href="#" title="View"><i class="fa fa-search"></i></a>
                        <a class="btn btn-primary" href="#" title="Purchase More"><i class="fa fa-plus"></i></a>
                        <a class="btn btn-success" href="#" title="Drink"><i class="fa fa-glass"></i></a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
