@model winerack.Models.ActivityEventViewModels.Base
@using winerack.Helpers

@{
  var imageUrl = "https://winerack.blob.core.windows.net/" + Model.Image + "_md.jpg";
  var actorName = (string.IsNullOrWhiteSpace(Model.Actor.Name)) ? Model.Actor.UserName : Model.Actor.Name;
  var actorUrl = "/user/" + Model.Actor.UserName;
}

<li class="media">
  <a class="media-left" href="@actorUrl">
    <img class="media-object img-circle" src="@ExtensionMethods.ProfileImageUrl("sq_sm", Model.Actor.Id)" alt="@actorName"/>
  </a>
  <div class="media-body">
    <div class="media-heading">
      <small class="pull-xs-right">@ExtensionMethods.TimeAgo(Model.OccuredOn)</small>
      <h5><a href="@actorUrl">@actorName</a></h5>
    </div>

    @RenderBody()

    @if (!string.IsNullOrWhiteSpace(Model.Image))
    {
      <a href="@Model.ViewUrl/@Model.ObjectID"><img class="img-responsive" src="@imageUrl" /></a>
    }
  </div>
</li>
