@model winerack.Models.User
@using winerack.Helpers
@{
    ViewBag.Title = "Acount Settings";
}

<h4>Profile</h4>
<hr />

@using (Html.BeginForm("ProfilePicture", "Account", FormMethod.Post, new { @class="form-horizontal", id="formProfilePicture", enctype = "multipart/form-data" })) {
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label class="control-label col-md-2">Profile Picture</label>
        <div class="col-md-10">
            <a id="photoSelect" href="#">
                <img class="img-circle" id="photoPreview" src="@ExtensionMethods.ProfileImageUrl("sq")" width="150" />
            </a>
            <input class="hidden" id="Photo" name="Photo" type="file" accept="image/*" />
        </div>
    </div>
}

<p class="text-success">@ViewBag.StatusMessage</p>

@using (Html.BeginForm("Settings", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
    @Html.AntiForgeryToken()

    @Html.ValidationSummary("", new { @class = "text-danger" })
    
    <div class="form-group"></div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Update profile" class="btn btn-success" />
            <a class="btn btn-default" href="/Account/Manage">Change password</a>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/account/settings.js")
}